Zarabiara.json
{
  "name": "Zarabiara",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        960,
        -360
      ],
      "id": "7e71d2cb-3d0e-4160-857f-3f14ce768713",
      "name": "Telegram message",
      "webhookId": "72f1ca61-b002-4cff-9f26-3b7ee46d7a0e"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-2025-04-14"
        },
        "messages": {
          "values": [
            {
              "content": "=Act like a professional crypto trader.\nDetect if the content I provide below is a trader move.\nIf so, I would like you to respond in json format, without the comments. Just the json, no other text!\nIf not, or you are not sure, return json and nothing more than {\"content\": \"invalid\"}\nIf the value for a specific field is not determined, don't add it.\nMandatory keys are coin, leverage and type. If any of it is not present, return json {\"content\": \"invalid\"}\nThe message can be an update message, not a move, if so, return {\"content\": \"invalid\"}\nIf there are more than one take profit, use tp1, tp2 max to tp10. Can be also target, target level/s.\nIf not, use single takeProfit.\nFor example 1% or 2% is suggested value for USDT, do not use this value.\nIf leverage is in range, take smaller.\nIf in message \"risky\" or uwaga, uważnie, then add to json \"usdtAmount\": 50\nIf the message contains information about \"limit order\" or \"zlecenie limit\" or \"EP\" or \"entrypoint\" or \"wejście\" add:\n- field \"orderType\": \"Limit\"\n- field \"entryPrice\": with the entry price value, where:\n  - for LONG orders, use the lower value from the EP range if there is a range for them or just the one specified\n  - for SHORT orders, use the higher value from the EP range if there is a range for them or just the one specified\nIf no such information is present, assume a market order by default (don't add orderType field).\n\nOutput json format, no other text, just the json, always, remember:\n{\n\"coin\": \"BTC\",       // String, just the symbol, no usdt at the end\n\"leverage\": 15,      // int, required\n\"type\": \"LONG\",      // string, \"LONG\" or \"SHORT\" depending on the move definition, required\n\"orderType\": \"Limit\", // string, only if it's a limit order\n\"entryPrice\": 101.600, // decimal, entry price only for limit orders\n\"tp1\" : 1.0,  \t     // decimal, take profit 1 if determined\n\"tp2\" : 2.2,   \t     // decimal, take profit 2 if determined\n\"tp3\" : 3.5,   \t     // decimal, take profit 3 if determined\n\"tp4\" : 4.8,   \t     // decimal, take profit 4 if determined\n\"tp5\" : 6.8,   \t     // decimal, take profit 4 if determined\n\"takeProfit\" : 5.0,  // decimal, if there is only one take profit, if determined\n\"stopLoss\" : 0.8    // decimal, stop loss, if determined\n}\n\nmessage:\n{{$json[\"body\"][\"message\"]}}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1400,
        -360
      ],
      "id": "cb6e2ff5-91c5-4789-a7a7-117be8e28f33",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "h3ZxskVWdxA8ZroA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://bybit-trade-zarabiara:8888/api/bybit/positions/advanced",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{$json[\"message\"][\"content\"]}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        -360
      ],
      "id": "78d7ef42-722c-4b9f-afb8-c395e56a6a43",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-degen",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1040,
        -80
      ],
      "id": "6c72a5d3-3ba2-4a0e-b6b0-e5ae9f37f3d2",
      "name": "TELEGRAM DEGEN",
      "webhookId": "13a043d3-434c-465b-ab7f-bccde12363cc"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-2025-04-14",
          "mode": "list",
          "cachedResultName": "GPT-4.1-2025-04-14"
        },
        "messages": {
          "values": [
            {
              "content": "=Act like a professional crypto trader.\nDetect if the content I provide below is a trader move, suggestion to buy a crypto coin.\nIf so, I would like you to respond in json format, without the comments.\nJust the json, no other text!\nIf not, or you are not sure, return json and nothing more than {\"content\": \"invalid\"}\nIf the value for a specific field is not determined, don't add it.\n\nMandatory keys are address and chain. If any of it is not present, return json {\"content\": \"invalid\"}\nThe message can be an update message, not a move, if so, return {\"content\": \"invalid\"}\n\nOutput json format, no other text, just the json, always, remember:\n{\n\"address\": \"0xFB7a83abe4F4A4E51c77B92E521390B769ff6467\",       // String, coin address\n\"chain\": \"Base\"                                                // string, can be \"Base\", \"ETH\" or \"SOL\"\n}\n\nmessage:\n{{$json[\"body\"][\"message\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1280,
        -80
      ],
      "id": "a18a9fb3-367d-4990-86b1-65acb930f0a2",
      "name": "DEGEN CHAT GPT ASK",
      "credentials": {
        "openAiApi": {
          "id": "h3ZxskVWdxA8ZroA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://telethon-listener:8080/degen-move",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{$json[\"message\"][\"content\"]}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        -80
      ],
      "id": "109f14c2-c1e8-4408-aa26-0111fec2962b",
      "name": "TELEGRAM DEGEN MOVE"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram message": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TELEGRAM DEGEN": {
      "main": [
        [
          {
            "node": "DEGEN CHAT GPT ASK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEGEN CHAT GPT ASK": {
      "main": [
        [
          {
            "node": "TELEGRAM DEGEN MOVE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "06887780-9eea-413f-a494-2f9eca1787ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38a2a5f52b4cad63c4ea75a093641d9c7391f96dec5f58893008641c305249bb"
  },
  "id": "YpxW6A9ADA1EWwDk",
  "tags": []
}